.my-custom-menu {
  --width: 500px;
}
p{
  text-align: center;
}
ion-toolbar.in-toolbar.md.ion-color.ion-color-primary.hydrated {
    padding: 1rem 0 0 0;
}
p.log {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}
p.logTitle {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
ion-icon {
    color: white;
    font-size: 1.4rem;
}
