
<div *ngIf="loginData!=false && loginData?.role=='admin'">
  <ion-menu side="start"  swipe-gesture="true" contentId="main" auto-hide="false" >
    <ion-header>
      <ion-toolbar color="primary">
        <p class="logTitle">
          Admin Login
        </p>
        <p class="log">
          <mat-icon >person</mat-icon>&nbsp;
          {{loginData?.userName}}
          &nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="log-out" class="headIcon" (click)="logout()"></ion-icon>

        </p>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/admin-dashboard" (click)="closeMenu()"><mat-icon >home</mat-icon>&nbsp;&nbsp;&nbsp; Home</ion-item>
        <ion-item routerLink="/scan-ble-mac" (click)="closeMenu()"><mat-icon >read_more</mat-icon>&nbsp;&nbsp;&nbsp; Add BLE MAC</ion-item>
      </ion-list>
    </ion-content>
    <p class="versions">
      VERSION 1.0.0
    </p>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</div>

<div *ngIf="loginData!=false && loginData?.role=='user'">
  <ion-router-outlet ></ion-router-outlet>
</div>

<div *ngIf="loginData==false">
  <ion-router-outlet ></ion-router-outlet>
</div>
