<ion-header>
  <ion-toolbar>
    <span class="admintool">
      <!-- <ion-icon size="large" name="home"></ion-icon> -->

      <ion-buttons slot="start">
      	 <ion-menu-button ></ion-menu-button>
       </ion-buttons>
      <ion-title>Dashboard

      </ion-title>

      <!-- <span (click)="logout()" class="logout">
        <ion-icon name="log-out" class="headIcon"></ion-icon> &nbsp;
        <ion-text>Logout</ion-text>
      </span> -->
    </span>
  </ion-toolbar>
</ion-header>

<ion-content style="background: none transparent;">

<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Device Assign" >
    <div class="circle" (click)="brCodeScanner()">Scan</div>
    <p class="center"> Tap to scan</p>

    <ion-card>
      <ion-card-header> Device details</ion-card-header>
      <ion-card-content>
          <form [formGroup]="deviceDetails" (ngSubmit)="submit(deviceDetails.value)">
            <ion-item>
              <ion-label position="stacked">Device Id</ion-label>
              <ion-input type="number" formControlName="deviceId"></ion-input>

              </ion-item>
                <ion-item>
                  <ion-label position="stacked">Device Name</ion-label>
                  <ion-input type="text" formControlName="deviceName"></ion-input>

                  </ion-item><br>
                    <ion-button color="primary" expand="full" type="submit">Submit</ion-button>
          </form>

      </ion-card-content>

    </ion-card>

  </mat-tab>
  <mat-tab label="Assigned View">
    <ion-item class="search">
      <ion-icon name="search" class="ion-align-self-center" size="small" slot="end"></ion-icon>
      <ion-label position="floating">Search</ion-label>
      <ion-input type="text" (input)="search($event.target.value)">
      </ion-input>
    </ion-item>
    <table class="table table-borderless">
        <thead class="head">
          <tr>
            <th>#</th>
            <th>Device Id</th>
            <th>Device Name</th>
            <th>Logout</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of userAssigned;let i=index">
            <td>{{i+1}}</td>
            <td>{{a.deviceId}}</td>
            <td>{{a.deviceName}}</td>
            <td><ion-icon name="log-out"(click)="logoutUser(a)" ></ion-icon></td>
          </tr>
        </tbody>
    </table>
  </mat-tab>
</mat-tab-group>



</ion-content>
