ion-grid.loginimg.md.hydrated {
    text-align: center;
    margin: 15% 0 0 0;
}
p.login {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 400;
    font-family: cursive;
}
